<!Doctype>
<html>
<head><title>Attendance</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="public/css/jrcssx.css">
	<script type="text/javascript" src="public/js/jrjsx.js"></script>
	<style>
	a.active {
		background-color: dodgerblue;
		color: whitesmoke;
	}
	a:hover:not(.active) {
		background-color: dimgrey;
		color: white;
	}

	</style>
	<script> 

	</script>    
</head>
<body>
	<div style="margin-top:10%;padding:1px;height:auto">   
	</div>

	<div class="row">
		<div class="col-lg-4">
			Navbar coming soon!!
		</div>
		<div class="col-lg-8">
			<div style="padding:1px 16px;height:34px; float: right">
				<label class="switch">
					<input type="checkbox" id="cswitch1" onclick="stoggle('cswitch1')">
					<span class="slider1 round" style="height:34px !important;"></span>
				</label>
			</div>
			<div style="margin-top: 8%; margin-left:15%;padding:1px 16px;height:auto;">
				<span>
					<input type="button" class="button off" id="btn1" value="01" onclick="btntoggle(this);"/>
				</span>
				<span>
					<input type="button" class="button off" id="btn2" value="02" onclick="btntoggle(this);"/>
				</span>
				<input type="button" class="button off" id="btn3" value="03" onclick="btntoggle(this);"/>
				<input type="button" class="button off" id="btn4" value="04" onclick="btntoggle(this);"/>
				<input type="button" class="button off" id="btn5" value="05" onclick="btntoggle(this);"/>
				<input type="button" class="button off" id="btn6" value="06" onclick="btntoggle(this);"/>
				<input type="button" class="button off" id="btn7" value="07" onclick="btntoggle(this);"/>
				<input type="button" class="button off" id="btn8" value="08" onclick="btntoggle(this);"/>
				<input type="button" class="button off" id="btn9" value="09" onclick="btntoggle(this);"/>
				<input type="button" class="button off" id="btn10" value="10" onclick="btntoggle(this);"/>
				<input type="button" class="button off" id="btn11" value="11" onclick="btntoggle(this);"/>
				<input type="button" class="button off" id="btn12" value="12" onclick="btntoggle(this);"/>
				<input type="button" class="button off" id="btn13" value="13" onclick="btntoggle(this);"/>
				<input type="button" class="button off" id="btn14" value="14" onclick="btntoggle(this);"/>
				<input type="button" class="button off" id="btn15" value="15" onclick="btntoggle(this);"/>
				<input type="button" class="button off" id="btn16" value="16" onclick="btntoggle(this);"/>
				<input type="button" class="button off" id="btn17" value="17" onclick="btntoggle(this);"/>
				<input type="button" class="button off" id="btn18" value="18" onclick="btntoggle(this);"/>
				<input type="button" class="button off" id="btn19" value="19" onclick="btntoggle(this);"/>
				<input type="button" class="button off" id="btn20" value="20" onclick="btntoggle(this);"/>
			</div>
		</div>
	</div>
</body>
</html>